/* report preview table */
.table-container {
  padding: 20px;
  overflow-x: auto;
}

.report-table {
  display: table;
  border: 1px solid #f8f8f8;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  border: 1px solid transparent;
  background: #dfdfdf;
}

thead {
  font-weight: 500;
}

tr {
  display: table-row;
  border-color: inherit;
}

td,
th {
  height: 20px;
  padding: 5px;
}

td {
  border: 1px solid #dddddd;
}

/* report options header */
.tab-table-header {
  padding-top: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mat-header-row {
  width: 90%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid transparent;
}
