django-custom-field==2.5
psycopg2
django-extensions
Werkzeug
ipdb
celery[redis]
flake8
django-money==0.13.1
djangorestframework==3.8.2
django_celery_beat==1.1.1
coverage==4.5.1
tox
model_mommy
freezegun
openpyxl