django-custom-field==2.9
psycopg2-binary
django-extensions
Werkzeug
ipdb
celery[redis]==4.4.7
flake8
django-money>=1.0
djangorestframework>=3.10
django_celery_beat
coverage==4.5.3
tox
model_mommy
freezegun
openpyxl
model-bakery
