html, body, .fullheight {
   height: 100%;
}

.field:hover {
    background: #F2F2F2;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 8px;
}

.angular-ui-tree-node {
  padding-left: 4px;
}

div.col_sort {
  max-width: 60px;
}

div.col_checkbox {
  max-width: 60px;
}

input[type="text"].small_input {
  width: 2em;
g}

.move_trash {
  max-width: 53px;
}

.col_aggregate {
  max-width: 6em;
  min-width: 5em;
}

.col_format {
  min-width: 5em; 
}

.col_filter_type {
  min-width: 14em;
}
input[type="text"] {
  width: 100%; 
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

.md-button.md-fab.md-fab-bottom-left{
      bottom: 16px;
      left: 16px;
}
.md-button.md-fab.md-fab-bottom-right{
      bottom: 16px;
      right: 16px;
}

body {
  overflow:hidden;
}

.fullscreen:fullscreen {
  display: none;
} 

.caps {
  text-transform: capitalize;
}

.form {
  max-width: 864px;
  margin: auto;
}

#reportapp ul {
    list-style-type: none;
    padding-left:0;
}

.searchInput {
    margin-top: 5px;
    width: 165px;
}


.handsontable table.htCore {
    padding-top: 0px;
}
.ht_clone_top {
    z-index: 58;
}

.sidebar-left-search {
  padding-bottom: 5px;
}

.sidenav-report-link {
    text-transform: none !important;
    border-radius: 0px !important;
}

.sidenav-report-link .report-meta-data {
    font-size: 0.8em;
    color: #bbb;
}

.sort-by-label {
  font-size: 0.7em;
  color: #bbb;
}

.sort-button {
  text-transform: none !important;
}

#reportapp .report-list-header {
  padding-left: 6px;
}

#reportapp .md-button {
    margin: 0px;
    min-width: 0;
    min-height: 0;
}

.report-tabs-height {
  height: calc(100% - 32px);
}

.angular-ui-tree-empty {
  background-image: none;
  background-color: inherit;
  border: none;
}

.ac-container {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 999;
}
.ac-container .ac-menu {
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  background-color: white;
  box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
}
.ac-container .ac-menu .ac-menu-item {
  border-bottom: 1px dotted #ccc;
  line-height: 35px;
  margin: 0;
}
.ac-container .ac-menu .ac-menu-item:last-child {
  border-bottom: 0;
}
.ac-container .ac-menu .ac-menu-item:hover {
  background-color: #e0eaff;
}
.ac-container .ac-menu a {
  padding-left: 5px;
  display: block;
  color: inherit;
  text-decoration: none;
}
.ac-container .ac-menu .ac-state-focus {
  outline: none;
  background-color: #e0eaff;
}