<div class="mat-table tab-table-header">
  <div class="mat-header-row">
    <div class="mat-header-cell"></div>
    <div class="mat-header-cell">Field</div>
    <div class="mat-header-cell">Name</div>
    <div class="mat-header-cell">Sort Desc?</div>
    <div class="mat-header-cell">Aggregate</div>
    <div class="mat-header-cell">Format</div>
    <div class="mat-header-cell">Total</div>
    <div class="mat-header-cell">Group</div>
  </div>
  <tree-root [nodes]="fields" [options]="treeOptions" (moveNode)="onMoveNode($event)">
    <ng-template #treeNodeTemplate let-node let-index="index">
      <app-display-tab-row [field]="node.data" [formatOptions]="formatOptions" (updateField)="updateField.emit($event)" (deleteField)="deleteField.emit($event)"></app-display-tab-row>
    </ng-template>
  </tree-root>
</div>
