<div class="mat-table">
  <div class="mat-header-row">
    <div class="mat-header-cell"></div>
    <div class="mat-header-cell">Field</div>
    <div class="mat-header-cell">Name</div>
    <div class="mat-header-cell">Sort Desc?</div>
    <div class="mat-header-cell">Aggregate</div>
    <div class="mat-header-cell">Format</div>
    <div class="mat-header-cell">Total</div>
    <div class="mat-header-cell">Group</div>
  </div>
  <app-display-tab-row *ngFor="let row of fields" [field]="row" (updateField)="updateField.emit($event)" (deleteField)="deleteField.emit($event)"></app-display-tab-row>
</div>
