<div class="mat-row">
  <div class="mat-cell">
    <button mat-icon-button>
      <mat-icon>reorder</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteField.emit(field.position)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="mat-cell">{{field.field_verbose}} [{{field.field_type}}]</div>
  <div class="mat-cell">
    <mat-form-field>
      <input matInput value="{{field.name}}" (keyup)="editField({name: $event.currentTarget.value})">
    </mat-form-field>
  </div>
  <div class="mat-cell">
    <mat-checkbox [checked]="field.sort_reverse" (change)="editField({sort_reverse: $event.checked })"></mat-checkbox>
  </div>
  <div class="mat-cell">
    <mat-form-field>
      <mat-select placeholder="----------">
        <mat-option value="sum">Sum</mat-option>
        <mat-option value="count">Count</mat-option>
        <mat-option value="avg">Avg</mat-option>
        <mat-option value="max">Max</mat-option>
        <mat-option value="min">Min</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="mat-cell">
    <mat-form-field>
      <mat-select></mat-select>
    </mat-form-field>
  </div>
  <div class="mat-cell">
    <mat-checkbox [checked]="field.total" (change)="editField({total: $event.checked })"></mat-checkbox>
  </div>
  <div class="mat-cell">
    <mat-checkbox [checked]="field.group" (change)="editField({group: $event.checked })"></mat-checkbox>
  </div>
</div>
