<mat-sidenav (clickOutside)="toggleRightNav()" [exclude]="'button, #toggleRight, mat-sidenav'" #sidenav mode="side" position="end"
  opened="{{rightNavIsOpen}}">
  <div class="header">
    <h3>{{ modelName }} relations</h3>
  </div>

  <input type="text" class="search-box" placeholder="Search Relations" (keyup)="searchRelations.emit($event.target.value)">

  <tree-root #tree [nodes]="getRelatedFields()" (activate)="onActivate($event.node.data)"></tree-root>

  <div class="header">
    <h3>Fields</h3>
  </div>

  <input type="text" class="search-box" id="search-box" placeholder="Search Fields" (keyup)="searchFields.emit($event.target.value)">

  <div class="fields" *ngFor="let field of fields">
    <app-field-component (addReportField)="addReportField.emit($event)" (selectField)="selectField.emit($event)" [field]="field"></app-field-component>
  </div>
  <div *ngIf="selectedField">
    [{{selectedField.field_type}}] {{selectedField.help_text}}
  </div>
</mat-sidenav>
