mat-sidenav {
    width: 300px;
    position: fixed;
    height: 100%;
    border-left: 1px solid #ededed;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

tree-root /deep/ {
    height: 38%;
    tree-viewport {
        height: 38%;
    }
}

.header {
    width: 100%;
    height: 65px;
    background-color: #417690;
    color: white;
    margin-top: -19px;
    padding-left: 10px;
}

h3 {
    font-size: 20px;
    letter-spacing: 0.005em;
    box-sizing: border-box;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 20px;
}

.fields {
    padding: 10px;
}

.search {
    position: relative;
    width: 100%;
    height: 2rem;
    margin: 25px auto;
    padding-bottom: 5px;
    padding-top: -20px;
}

.search-box {
    font-style: italic;
    margin-top: -20px;
    width: 100%;
    height: 3%;
}

@media screen and (max-width: 620px) {
    .header {
      height: 63px;
    }
  }
  
  



  