<mat-sidenav (clickOutside)="toggleRightNav()" [exclude]="'button, #toggleRight, mat-sidenav'" #sidenav mode="side" position="end"
  opened="{{rightNavIsOpen}}">
  <div class="header">
    <h3>{{ modelName }} relations</h3>
  </div>

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="searchRelations.emit($event.target.value)" placeholder="Search Related Fields">
    </mat-form-field>
  </div>

  <tree-root #tree [nodes]="getRelatedFields()" (activate)="onActivate($event.node.data)"></tree-root>

  <div class="header">
    <h3>Fields</h3>
  </div>

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Fields">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="fieldDataSource" matSort #table matSortDisableClear="true">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Field Name</mat-header-cell>
      <mat-cell *matCellDef="let field">
        {{ field.name }}
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">add</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsField"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsField;"></mat-row>

  </mat-table>

  <div *ngIf="selectedField">
    [{{selectedField.field_type}}] {{selectedField.help_text}}
  </div>

</mat-sidenav>