mat-toolbar {
 color: #f5dd5d;
 background: #417690;
 font-size: 20px;
 letter-spacing: 0.005em;
 box-sizing: border-box;
 font-weight: 400;
}

button {
    background: url('../../images/list2.svg') no-repeat top left;
    cursor: pointer;
    margin-top: 12px;
    height:  60px;
    width: 45px;
    border: 0;
    outline: none;
    padding-right: 20px;
}

#toggleRight {
    display: block;
    margin-left: auto;
    margin-right: 0;
}






