mat-toolbar {
 color: #f5dd5d;
 background: #417690;
}

.list {
    background: url(list.svg) no-repeat top left;
    cursor: pointer;
    display: inline-block;
    margin-top: 12px;
    height: 52px;
    width: 40px;
    border: 0;
    outline: none;
}


