<mat-toolbar>
    <div class="left-navbar-container">
        <button class="button" id="toggleLeft" type="button" (click)="toggleLeftNav()">
                <mat-icon class="add-icon transparent">list</mat-icon>
        </button>
    </div>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput [placeholder]="reportName ? '' : 'Report Name'" [value]="reportName">
        </mat-form-field>
    </form>
    <div class="right-navbar-container">
        <div [hidden]="activeTab === 2 || activeTab === 3">
            <button class="button" (click)="toggleRightNav()" id="toggleRight" type="button">
                    <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>