.mat-sidenav {
  width: 320px;
  min-width: 320px;
  position: fixed;
  height: 100%;
  border-left: 1px solid #ededed;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
