.form-container {
  background: #f8f8f8;
  height: 100vh;
}

.report-form {
  width: 45%;
  border: 1px solid #dbdbdb;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: table;
  border-radius: 5px;
  padding-top: 0;
}

.report-title {
  background: #417690;
  color: white;
  height: 15%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 -17px 16px;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  .report-title {
    margin: 0 -16px 16px;
    padding: 10px 16px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.container > mat-form-field {
  width: 100%;
}

button {
  margin-bottom: 20px;
}
