mat-card {
    width: 50%;
    border: 1px solid #dbdbdb;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: table;
    border-radius: 5px;
}

mat-toolbar {
    background: #417690;
    color: white;
    height: 15%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -23px;
    width: 107%;
}

mat-card-title {
    font-weight: 200;
    letter-spacing: 0.05em;
}

form {
    padding-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  
  .container > mat-form-field {
    width: 100%;
  }
