  <mat-sidenav #sidenav mode="side" opened="true">
    <span><a routerLink="/report/add">+ Add Report</a></span>

    <form class="Search">
      <span><input type="text" class="Search-box" id="Search-box" placeholder="Search Reports"
      (keyup)="searchReports.emit($event.target.value)">
      <label for="Search-box" class="Search-box-label">
        <span class="Search-icon">Search</span>
      </label>
      <span class="Search-close">
        <i class="Search-close-icon">Close</i>
      </span>
    </span>
    </form>  

  <div class="reports-container">
    <h4>My Reports</h4>
    <div class="reports" *ngFor="let report of listReports">
      <div (click)="clickReport(report.id)">
        {{ report.name }}<br/>{{ report.user_created.first_name }}
      </div>
    </div>
  </div>
  </mat-sidenav>
