  <mat-sidenav #sidenav mode="side" opened={{showReports}}>
    <div class="add-report"><a routerLink="/report/add">+ Add Report</a></div>
  
  <div class="sort">Sort By:</div>
  <section layout="row" class="sort-section">
    <a><span (click)="onSortReports('name')">NAME</span></a>
    <a><span (click)="onSortReports('modified')">DATE</span></a>
    <a><span (click)="onSortReports('user')">USER</span></a>
  </section>

    <form class="search">
      <span><input type="text" class="search-box" id="search-box" placeholder="Search Reports"
      (keyup)="searchReports.emit($event.target.value)">
      <label for="search-box" class="search-box-label">
        <span class="search-icon">Search</span>
      </label>
      <span class="search-close">
        <i class="search-close-icon">Close</i>
      </span>
    </span>
    </form>  

  <div class="reports-container">
    <h4>My Reports</h4>
    <div class="reports" *ngFor="let report of listReports">
      <div (click)="clickReport(report.id)">
        <div>{{ report.name }}</div><br/>
        <div>{{ report.user_created.first_name }}<div layout="column" class="modified">{{report.modified}}</div></div>
      </div>
    </div>
  </div>
  </mat-sidenav>
