mat-sidenav {
  padding: 10px;
  width: 20%;
  border-right: 2px solid #ededed;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
  color: #79aec8;  
  cursor: pointer;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #79aec8;
  font-size: 14px;
}

.reports-container {
    padding-top: 20px;
    margin: auto;
}

.add-report {
  height: 5px;
  text-align: center;
  padding-bottom: 20px;
}

.add-report {
  padding: 10px;
  padding-left: 5px;
  padding-top: 20px;
}

.modified {
  font-size: 0.75rem;
  color: #e0e0e0;
}

.search-box {
  float: left;
  width: 75%;
  height: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ededed;
  font-style: italic;
  padding-bottom: 1rem;
}
