.left-side-nav {
  width: 22%;
  border-right: 2px solid #ededed;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  z-index: 3;
}

h3 {
  padding-left: 15px;
}

th {
  padding: 15px;
}

td {
  padding: 15px;
  color: #79aec8;  
  cursor: pointer;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #79aec8;
  font-size: 14px;
}

.reports-container {
    padding-top: 20px;
    margin: auto;
}

.add-report {
  height: 5px;
  text-align: center;
  padding: 20px 10px 20px 5px;
}

.modified {
  font-size: 0.75rem;
  color: #e0e0e0;
}

.search-box {
  float: left;
  width: 75%;
  height: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ededed;
  font-style: italic;
  padding-bottom: 1rem;
  margin-left: 15px;
}

@media screen and (max-width: 488px) {
  .left-side-nav {
      width: 100%;
  }
}

@media screen and (min-width: 489px) and (max-width:1100px) {
  .left-side-nav {
      width: 40%;
  }
}

