<md-content class="md-padding" ng-controller="ChartOptionsCtrl">
<md-list>
    <md-list-item>
        <md-radio-group ng-model="report.chart_type">
            <p><strong>Type:</strong></p>
            <md-radio-button value="2">
            Series from columns
            </md-radio-button>

            <md-radio-button ng-value="3">
            Series from rows
            </md-radio-button>

        </md-radio-group>
    </md-list-item>

    <md-list-item>
        <label><strong>Categories: &nbsp; &nbsp;</strong></label>
        <span ng-repeat="(idx, el) in report.chart_categories_list track by $index">
            <select ng-options="it as report_fields_names[it] for it in report_fields_indexes track by it" ng-model="report.chart_categories_list[idx]"></select>
            <img ng-click="remove_from_list(idx, 'categories')" src="{{ static('report_builder/img/delete.svg') }}"></img>
        </span>
        <img style="margin-left: 30px;" ng-click="add_to_list('categories')" src="{{ static('report_builder/img/add.svg') }}"></img>
    </md-list-item>

    <md-list-item ng-show="report.chart_type > 2">
        <label><strong>Series: &nbsp; &nbsp;</strong></label>
        <span ng-repeat="(idx, el) in report.chart_series_list track by $index">
            <select ng-options="it as report_fields_names[it] for it in report_fields_indexes track by it" ng-model="report.chart_series_list[idx]"></select>
            <img ng-click="remove_from_list(idx, 'series')" src="{{ static('report_builder/img/delete.svg') }}"></img>
        </span>
        <img style="margin-left: 30px;" ng-click="add_to_list('series')" src="{{ static('report_builder/img/add.svg') }}"></img>
    </md-list-item>

    <md-list-item ng-hide="report.chart_type == 3">
        <label><strong>Values: &nbsp; &nbsp;</strong></label>
        <span ng-repeat="(idx, el) in report.chart_values_list track by $index">
            <select ng-options="it as report_fields_names[it] for it in report_fields_indexes track by it" ng-model="report.chart_values_list[idx]"></select>
            <img ng-click="remove_from_list(idx, 'values')" src="{{ static('report_builder/img/delete.svg') }}"></img>
        </span>
        <img style="margin-left: 30px;" ng-click="add_to_list('values')" src="{{ static('report_builder/img/add.svg') }}"></img>
    </md-list-item>

    <md-list-item ng-show="report.chart_type == 3">
        <label><strong>Values: &nbsp; &nbsp;</strong></label>
        <select ng-options="it as report_fields_names[it] for it in report_fields_indexes track by it" ng-model="report.chart_values_list[0]"></select>
    </md-list-item>

    <md-list-item>
        <md-radio-group ng-model="report.chart_style">
            <p><strong>Style:</strong></p>
            <md-radio-button ng-repeat="style in chart_styles" value="{{style}}">
            {{ style }}
            </md-radio-button>
        </md-radio-group>
    </md-list-item>

    <md-list-item>
        <md-item-content>
        <p><strong>Others options:</strong></p>
            <md-checkbox ng-model="report.chart_stacked"> Stacked </md-checkbox>
            <md-checkbox ng-model="report.chart_labels"> Labels </md-checkbox>
            <md-checkbox ng-model="report.chart_total"> Total </md-checkbox>
        </md-item-content>
    </md-list-item>


</md-list>
</md-content>

