<md-content class="md-padding" ng-controller="ChartOptionsCtrl">
<md-list>
    <md-list-item>
        <md-radio-group ng-model="report.chart_type">
            <p><strong>Type</strong></p>
            <md-radio-button value="2">
            SIMPLE (categories, values)
            </md-radio-button>

            <md-radio-button ng-value="3">
            NORMAL (categories, series, values)
            </md-radio-button>

        </md-radio-group>
    </md-list-item>

    <md-list-item>
        <label><strong>Categories: &nbsp; &nbsp;</strong></label>
        <select ng-options="it as report_fields_names[it] for it in report_fields_indexes track by it" ng-model="report.chart_categories"></select>
    </md-list-item>

    <md-list-item ng-show="report.chart_type > 2">
        <label><strong>Series: &nbsp; &nbsp;</strong></label>
        <select ng-options="it as report_fields_names[it] for it in report_fields_indexes track by it" ng-model="report.chart_series"></select>
    </md-list-item>

    <md-list-item>
        <label><strong>Values: &nbsp; &nbsp;</strong></label>
        <select ng-options="it as report_fields_names[it] for it in report_fields_indexes track by it" ng-model="report.chart_values"></select>
    </md-list-item>

    <md-list-item>
        <md-radio-group ng-model="report.chart_style">
            <p><strong>Style</strong></p>
            <md-radio-button ng-repeat="style in chart_styles" value="{{style}}">
            {{ style }}
            </md-radio-button>
        </md-radio-group>
    </md-list-item>

</md-list>
</md-content>

