<ng-form layout="row" layout-align="center center">
  <div class="move_trash" flex="">
      <img ui-tree-handle="" src="{{ static('report_builder/img/reorder.svg') }}"></img>
      <img ng-click="deleteField(this)" src="{{ static('report_builder/img/delete.svg') }}"></img>
  </div>
  <div flex="" class="caps">
      <span ng-if="field.path_verbose">
          ({{ field.path_verbose }}) 
      </span>
      {{ field.field_verbose }}
      [{{ field.field_type }}]
  </div>
  <div flex="">
    <input type="text" ng-model="field.name"></input>
  </div>
  <div class="col_sort" flex="">
    <input class="small_input" ng-model="field.sort" type="text" value=""></input>
    <md-checkbox aria-label="Reverse" ng-model="field.sort_reverse"></md-checkbox>
  </div>
  <div class="col_aggregate" flex="">
    <select ng-model="field.aggregate">
      <option value="" selected="selected">---------</option>
      <option value="Sum">Sum</option>
      <option value="Count">Count</option>
      <option value="Avg">Avg</option>
      <option value="Max">Max</option>
      <option value="Min">Min</option>
    </select>
  </div>
  <div class="col_format" flex="">
    <select ng-model="field.display_format" ng-options="format.id as format.name for format in formats">
        <option value=""></option>
    </select>
  </div>
  <div class="col_checkbox" flex="">
    <md-checkbox aria-label="Total" ng-model="field.total"></md-checkbox>
  </div>
  <div class="col_checkbox" flex="">
    <md-checkbox aria-label="Group" ng-model="field.group"></md-checkbox>
  </div>
</ng-form>
