<md-content ng-controller="FieldsCtrl" layout="vertical">
    <div layout="vertical" layout-fill>
    <md-toolbar class="md-theme-light" scroll-shrink>
        <h2 class="md-toolbar-tools">Related Fields</h2>
    </md-toolbar>

    <md-content style="max-height: 300px;">
    <md-list>
        <md-item ng-repeat="related_field in related_fields">
            <md-item-content>
                {{ related_field.verbose_name }}
            </md-item-content>
        </md-item>
    </md-list>
    </md-content>
    </div>

    <div layout="vertical" layout-fill>
    <md-toolbar class="md-theme-light" scroll-shrink>
        <h2 class="md-toolbar-tools">Fields</h2>
    </md-toolbar>
    <md-content style="max-height: 300px;">
    <md-list>
        <md-item ng-repeat="field in fields">
            <md-item-content>
                {{ field.verbose_name }}
            </md-item-content>
        </md-item>
    </md-list>
    </md-content>

    </div>
    

<div ui-tree data-drag-enabled="false">
  <ol ui-tree-nodes="" ng-model="fields">
    <li data-collapsed="false" ng-repeat="field in fields" ui-tree-node>
      <div ui-tree-handle>
        {{field.verbose_name}}
      </div>
    </li>
  </ol>
</div>
</md-content>
