<div class="fullheight" id="reportapp" layout="column" layout-fill="">
  <section class="fullheight" layout="row">
    <div class="fullheight" flex="">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">
        <md-input-container>
          <label>Name</label>
          <input ng-model="report.name" class="long"></input>
        </md-input-container>
          <span flex=""></span>
          <span>Last Updated: {{ report.modified }}</span>
        </h1>
      </md-toolbar>
      <md-content class="report-tabs-height">
        <md-tabs class="report-tabs-height" md-selected="selectedIndex">
          <md-tab id="tab1" aria-controls="tab1-content">
            <md-tab-label>Display</md-tab-label>
            <md-tab-body>
              <div ui-tree="" ng-controller="ReportDisplayCtrl">
                <div layout="row">
                  <div class="move_trash" flex=""></div>
                  <div flex="">Field</div>
                  <div flex="">Name</div>
                  <div class="col_sort" flex="">Sort Desc?</div>
                  <div class="col_aggregate" flex="">Aggregate</div>
                  <div class="col_format" flex="">Format</div>
                  <div class="col_checkbox" flex="">Total</div>
                  <div class="col_checkbox" flex="">Group</div>
                </div>
                <div>
                  <ol ui-tree-nodes="" ng-model="report.displayfield_set">
                    <li class="field" data-collapsed="false" ng-repeat="field in report.displayfield_set" ui-tree-node="">
                      <div layout-align="center center" ng-include="static('report_builder/partials/display_field.html')"></div>
                    </li>
                  </ol>
                </div>
              </div>
              <div hide-gt-lg layout="row" layout-sm="column" layout-align="center center" style="height: 55px;">
                <md-button class="fullscreen" ng-click="requestFullscreen()" aria-label="Fullscreen">
                  Fullscreen
                </md-button>
              </div>
            </md-tab-body>
          </md-tab>
          <md-tab id="tab2" aria-controls="tab2-content">
            <md-tab-label>Filter</md-tab-label>
            <md-tab-body>
              <div ng-include="static('report_builder/partials/filters.html')"></div>
            </md-tab-body>
          </md-tab>
          <md-tab id="tab3" aria-controls="tab3-content">
            <md-tab-label>Report</md-tab-label>
            <md-tab-body>
              <div class="fullheight" ng-include="static('report_builder/partials/show_report.html')"></div>
            </md-tab-body>
          </md-tab>
          <md-tab id="tab4" aria-controls="tab3-content">
            <md-tab-label>Options</md-tab-label>
            <md-tab-body>
              <div ng-include="static('report_builder/partials/options.html')"></div>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </md-content>
      <md-button hide-gt-lg class="md-fab md-fab-bottom-left" ng-click="reports_list_menu()" aria-label="Reports List">
        <md-icon md-svg-src="{{ static('report_builder/img/list.svg') }}" style="width: 24px; height: 24px;"></md-icon>
      </md-button>
      <md-button hide-gt-md ng-show="selectedIndex == 0 || selectedIndex == 1" class="md-fab md-fab-bottom-right" ng-click="field_menu()" aria-label="Add Field">
        <md-icon md-svg-src="{{ static('report_builder/img/add.svg') }}" style="width: 24px; height: 24px;"></md-icon>
      </md-button>
    </div>
    <md-sidenav ng-show="showFields" md-is-locked-open="$mdMedia('gt-md')" class="fullheight md-sidenav-right md-whiteframe-z1" md-component-id="right">
      <div class="fullheight" layout="column" layout-fill="" ng-include="static('report_builder/partials/fields.html')">
      </div>
    </md-sidenav>
  </section>
</div>
