<md-sidenav class="md-sidenav-left md-whiteframe-z2" component-id="left" is-locked-open="$media('md')">

    <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Reports</h1>
    </md-toolbar>
    <md-content class="md-padding" ng-controller="LeftCtrl">
    <md-button ng-click="close()" class="md-primary" hide-md>
        Close Sidenav Left
    </md-button>
    <ul>
        <li ng-repeat="report in reports">
            {{ report.name }}
        </li>
    </ul>
    </md-content>

</md-sidenav>
