<mat-sidenav class="md-sidenav-left md-whiteframe-z2" component-id="left" is-locked-open="$media('md')">

    <mat-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Reports</h1>
    </mat-toolbar>
    <mat-content class="md-padding" ng-controller="LeftCtrl">
    <mat-button ng-click="close()" class="md-primary" hide-md>
        Close Sidenav Left
    </mat-button>
    <ul>
        <li ng-repeat="report in reports">
            {{ report.name }}
        </li>
    </ul>
    </mat-content>

</mat-sidenav>
