<md-content ng-controller="ReportShowCtrl">
<div>
    <md-button ng-click="save()">Save</md-button>
    <md-button ng-click="getPreview()">Preview</md-button>
    <md-button ng-click="getXlsx()"><a ng-href="">Download xlsx</a></md-button>
    <span ng-if="report.lastSaved == null">
        Changes have not been saved
    </span>
    <span ng-if="report.lastSaved">
        Saved {{ report.lastSaved | date:"MM/dd/yyyy 'at' h:mma" }}
    </span>
</div>
    <div layout="column" layout-margin style="padding:5px;">
        <div ng-if="workerStatus">
            {{ workerStatus }}
            <div ng-if="workerState == 'PENDING'">
                <md-progress-linear class="md-accent" md-mode="indeterminate"></md-progress-linear>
            </div>
        </div>
        <div ng-if="reportData.refresh == true">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <div ng-if="reportData.statusMessage">
            {{ reportData.statusMessage }}
        </div>
        <div ng-if="reportData.refresh == false">
            <hot-table id="previewTable"
                columnHeaders="true"
                settings="htSettings"
                columns="reportData.columns"
                datarows="reportData.items"
                >
            </hot-table>
        </div>
    </div>
</md-content>
