{% load static from staticfiles %}

{% block report_header %}
<script src="{% static 'report_builder/js/jquery-1.10.2.min.js' %}" type="text/javascript" ></script>
<script src="{% static 'report_builder/js/report_form.js' %}" type="text/javascript" ></script>
<script src="{% static 'report_builder/js/spin.js' %}" type="text/javascript" ></script>
<script src="{% static 'report_builder/js/jquery.spin.js' %}" type="text/javascript" ></script>

<link rel="stylesheet" href="{% static 'jquery-ui-1.9.1/css/smoothness/jquery-ui-1.9.1.custom.min.css' %}" />
<script src="{% static 'jquery-ui-1.9.1/js/jquery-ui-1.9.1.custom.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'report_builder/css/report_form.css' %}" />
{% endblock %}

{% block report_form %}
{% endblock %}
