<li class="draggable" style="list-style: none">
    <span class="button"
          data-name="{% if field.hstore_field_name %} {{ field.name }} {% elif verbose_name %}{{ verbose_name }}{% else %}{{ field.verbose_name }}{% endif %}"
          data-label="{{ field.name }}"
          data-path="{{ path }}"
          data-path_verbose="{{ path_verbose }}"
          data-choices="{% if field.choices %}true{% endif %}"
          data-root_model="{{ root_model }}"
          data-app_label="{{ app_label }}"
          >
          {% if field.hstore_field_name %}{{ field.name }} [property]{% else %}{% if verbose_name %}{{ verbose_name }}{% else %}{{ field.verbose_name }}{% endif %} [{% if custom %}custom {% endif %}{{ verbose_name_extra }}]{% endif %}
    </span>
</li>
