{% verbatim %}
<md-content ng-controller="LeftCtrl">
    <md-button layout-fill href="{{BASE_URL + 'report/add/'}}" class="sidenav-report-link md-accent">
        <div layout="column" layout-align="center center">
            <div>Add Report</div>
        </div>
    </md-button>


    <div>Sort By:</div>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-primary sort-button"
                   ng-click="reverseReportOrder = !reverseReportOrder; reportOrder='name';">name
        </md-button>
        <md-button class="md-primary sort-button"
                   ng-click="reverseReportOrder = !reverseReportOrder; reportOrder='modified';">date
        </md-button>
        <md-button class="md-primary sort-button"
                   ng-click="reverseReportOrder = !reverseReportOrder; reportOrder='user_created.first_name';">
            user
        </md-button>
    </section>

    <md-input-container class="sidebar-left-search">
        <label>Search Reports</label>
        <input type="text" ng-model="searchReports">
    </md-input-container>

    <h5>My Reports</h5>

    <md-list>
        <md-item
                ng-repeat="report in reports | filter:searchReports | filter:currentUserFilter | orderBy:reportOrder:reverseReportOrder">
            <md-item-content>
                <md-button layout-fill ng-click="openReport(report.id)" class="sidenav-report-link md-primary">
                    <div layout="column" layout-align="center start">
                        <div>{{ report.name }}</div>
                        <div layout="row" layout-fill class="report-meta-data">
                            <div layout="column" layout-align="center start" flex="50">
                                <div>
                                    {{ report.user_created.first_name }} {{ report.user_created.last_name }}
                                </div>
                            </div>
                            <div layout="column" layout-align="center end" flex="50">
                                <div>{{ report.modified }}</div>
                            </div>
                        </div>
                    </div>
                </md-button>
            </md-item-content>
        </md-item>
    </md-list>

    <h5>All Reports</h5>
    <md-list>
        <md-item
                ng-repeat="report in reports | filter:searchReports | filter:notCurrentUserFilter | orderBy:reportOrder:reverseReportOrder">
            <md-item-content>
                <md-button layout-fill ng-click="openReport(report.id)" class="sidenav-report-link md-primary">
                    <div layout="column" layout-align="center start">
                        <div>{{ report.name }}</div>
                        <div layout="row" layout-fill class="report-meta-data">
                            <div layout="column" layout-align="center start" flex="50">
                                <div>
                                    {{ report.user_created.first_name }} {{ report.user_created.last_name }}
                                </div>
                            </div>
                            <div layout="column" layout-align="center end" flex="50">
                                <div>{{ report.modified }}</div>
                            </div>
                        </div>
                    </div>
                </md-button>
            </md-item-content>
        </md-item>
    </md-list>
</md-content>
{% endverbatim %}