<ol class="tree" style="padding-left: 0px; margin: 0px;">
    {% for field in related_fields %}
        <li
            class="tree_closed"
            onclick="expand_related(event, '{{ model_ct.id }}', '{{ field.field_name }}', '{{ path }}', '{{ path_verbose }}')">
            <span \
            class="button"
                  onclick="show_fields(event, '{{ model_ct.id }}', '{{ field.field_name }}','{{ path }}', '{{ path_verbose }}');">
                {% if field.verbose_name %}
                    {{ field.verbose_name }}
                    [{{ field.get_internal_type }}]
                {% else %}
                    {{ field.get_accessor_name }}
                {% endif %}
            </span>
        </li>
    {% endfor %}
</ol>