{% for field in fields %}
    <li class="draggable" style="list-style: none">
        <span class="button"
              data-name="{{ field.verbose_name }}"
              data-label="{{ field.name }}"
              data-path="{{ path }}"
              data-path_verbose="{{ path_verbose }}"
              data-choices="{% if field.choices %}true{% endif %}"
              data-root_model="{{ root_model }}"
              >
            {{ field.verbose_name }} [{{ field.get_internal_type }}]
        </span>
    </li>
{% endfor %}
{% for custom_field in custom_fields %}
    {% if forloop.first %}
        <br/>
        Custom Fields:
    {% endif %}
    <li class="draggable" style="list-style: none">
        <span class="button"
              data-name="{{ custom_field.name }}"
              data-label="{{ custom_field.name }}"
              data-path="{{ path }}"
              data-path_verbose="{{ path_verbose }}"
              >
            {{ custom_field.name }} [custom {{ custom_field.get_field_type_display }}]
        </span>
    </li>
{% endfor %}
<br/>
{% for property in properties %}
    {% if forloop.first %}
        Properties:
    {% endif %}
    <li class="draggable" style="list-style: none">
        <span class="button"
              data-name="{{ property.name }}"
              data-label="{{ property.label }}"
              data-path="{{ path }}"
              data-path_verbose="{{ path_verbose }}"
              >
            {{ property.label }} [property]
        </span>
    </li>
{% endfor %}
