<div class="mat-table tab-table-header ">
  <div class="mat-header-row">
    <div class="mat-header-cell"></div>
    <div class="mat-header-cell">Field</div>
    <div class="mat-header-cell">Filter Type</div>
    <div class="mat-header-cell">Values</div>
    <div class="mat-header-cell"></div>
    <div class="mat-header-cell">Exclude</div>
  </div>
  <tree-root [nodes]="this.getFilters()" [options]="treeOptions">
    <ng-template #treeNodeWrapperTemplate let-node let-index="index">
      <app-filter-tab-row [filter]="node.data" (updateFilter)="updateFilter.emit($event)" (deleteFilter)="deleteFilter.emit($event)"
        (click)="node.mouseAction('click', $event)" (treeDrop)="node.onDrop($event)" [treeAllowDrop]="node.allowDrop" [treeDrag]="node"
        [treeDragEnabled]="node.allowDrag()"></app-filter-tab-row>
    </ng-template>
  </tree-root>
</div>
